@keyframes heart-fulling {
    0% {
        transform: scale(0);    
        background: $clr-primary;
        background: -webkit-linear-gradient(to left, $clr-primary, $clr-secondary);
        background: linear-gradient(to left, $clr-primary, $clr-secondary);
        
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    1% {
        background: $clr-primary;
        background: -webkit-linear-gradient(to left, $clr-primary, $clr-secondary);
        background: linear-gradient(to left, $clr-primary, $clr-secondary);
        
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    100% {
        transform: scale(1);    
        background: $clr-primary;
        background: -webkit-linear-gradient(to left, $clr-primary, $clr-secondary);
        background: linear-gradient(to left, $clr-primary, $clr-secondary);
        
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
@keyframes ldg-spin {
    0% {
        transform: scale(.4);
        opacity: 0%;
    }
    100% {
        transform: scale(1);
        opacity: 100%;
    }
}
@keyframes ldg-bg {
    0% {
        z-index: 4;
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    99% {
        z-index: 4;
    }
    100% {
        z-index: -2;
        opacity: 0;
    }
}
@keyframes func-change {
    0% {
        transform: scaleX(0);
    }
    100% {
        opacity: 1;
        transform: scaleX(1);
    }
}
@keyframes btn-change {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
