/*remplissage du coeur favori*/
@keyframes heart-fulling {
    0% {
        transform: scale(0);    
        background: $clr-primary;
        background: -webkit-linear-gradient(to left, $clr-primary, $clr-secondary);
        background: linear-gradient(to left, $clr-primary, $clr-secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    100% {
        transform: scale(1);    
        background: $clr-primary;
        background: -webkit-linear-gradient(to left, $clr-primary, $clr-secondary);
        background: linear-gradient(to left, $clr-primary, $clr-secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

/*loading-spinner page d'acceuil*/
@keyframes ldg-spin {
    0% {
        transform: scale(.4);
        opacity: 0%;
        background-color: $clr-tertiary;
    }
    50% {
        background-color: $clr-primary;
    }
    100% {
        transform: scale(1);
        opacity: 100%;
    }
}

@keyframes ldg-text-right {
    0% {
        transform: translateX(2000px);
    }
    15% {
        transform: translateX(0);
    }
    85% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-2000px);
    }
}

@keyframes ldg-text-left {
    0% {
        transform: translateX(-2000px);
    }
    15% {
        transform: translateX(0);
    }
    85% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(2000px);
    }
}

/*background semi-transparent du loading spinner*/
@keyframes ldg-bg {
    0% {
        z-index: 4;
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    99% {
        z-index: 4;
    }
    100% {
        z-index: -2;
        opacity: 0;
    }
}

/*background des div de fonctionnement*/
@keyframes func-change {
    0% {
        transform: scaleX(0);
    }
    100% {
        opacity: 1;
        transform: scaleX(1);
    }
}

/*background du bouton d'ancrage*/
@keyframes btn-change {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*apparition progressive des menus*/
@keyframes menu-display {
    0% {
        opacity: 0%;
        transform: translateY(75%);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
        opacity: 100%;
    }
}