/*etiquette nouveau sur les restaurants*/
@mixin new-patch {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    margin: 1rem;
    font-weight: bold;
    background: $clr-tertiary;
    padding: 0.5rem;
    color: darken($color: $clr-tertiary, $amount: 40);
}

/*image d'illustration des restos dans page d'accueil*/
@mixin img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1rem 1rem 0 0;
    background-size: cover;
    background-position: center;
    transform: scale(1);
    transition: 2s;
    transition-timing-function: ease-out;
}

/*changement background bouton d'ancrage*/
@mixin btn-anim {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0;
}

/*habillage des titres de section pour grand écran*/
@mixin section-title-desktop {
    text-align: center;
    margin: auto;
    margin-top: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid $clr-primary;
    width: 50%;
}

/*raccourcir texte menu*/
@mixin menu-text-shorten {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}