$clr-bg: rgb(231, 231, 231);
$clr-bg-light: rgb(252, 252, 252);;
$clr-shadow-form: rgb(189, 189, 189);
$clr-hover: #F4EAFF;

$clr-primary: #9356dc;
$clr-secondary: #ff79da;
$clr-tertiary: #99E2D0;

$clr-primary-light: #9256dc8c;
$clr-tertiary-light: #99e2d088;